@import "notifications"
@import "header"
@import "body"
@import "under900px"
@import "under600px"
@import "footer"
 
i:hover
    color: white
    cursor: pointer

a
    text-decoration: none
    color: #121212
    
*
    box-sizing: border-box;
